+++
title = "View UFT AI Test Run Results"
chapter = false
weight = 4
+++

## UFT AI Test Run Report

By default, the UFT **Run Results Viewer** opens automatically at the end of a run session.

The **Run Results Tree Pane** and **Search Box** displays a hierarchical representation of the run results.

Inspect the UFT AI run report. The report should contain screenshots and Test flow similar to the image below:

You can search for test step/object using the search box

![step 1](/images/30_Create_UFT_AI_Based_Test/run_report.PNG)
