---
title: "View UFT One's AI-based Test Run Results"
chapter: false
weight: 44
pre: "<b>4.4 </b>"
---

## UFT One AI Test Run Report

By default, the UFT One **Run Results Viewer** opens automatically at the end of the run session.

The **Run Results Tree Pane** and **Search Box** displays a hierarchical representation of the run results.

You can view and inspect the test's steps in the HTML report. The report should contain screenshots and Test flow similar to the image below.

You can search for test steps and objects using the search box from the UFT One report.

![Step 1](/images/40_Create_UFT_AI_Based_Test/uft_run_report1.PNG)
